/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body{
    font-family: 'Outfit', sans-serif;
}
/* header start */
.header{
    display: inline;
    width: 50%;
    padding: 5px 5px 0px;
}
/* header end */
/* nav ul{
    display: flex;
    text-align: right;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li:hover{
    background-color: cornflowerblue;
}
nav li a{
    text-decoration: none;
    color: blueviolet;
    font-size: 20px;
}
.nav_bt{
    text-align: right;
} */

/* footer start */
.footer{
    background-color: rgb(28, 96, 141);
    color: whitesmoke;
    padding: 10px;
    text-align: center;

}
/* .footer_parts{
    text-align: center;
    align-items: center;
    justify-content: center;
} */
.footer_icon{
    
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.fab{

    margin: 5px;

}

/* footer end */